# -*- mode: snippet -*-
# name: Definition
# key: sn>def
# --
#+attr_latex: :options [$1]
#+begin_definition
`(save-excursion (previous-line)(make-string (current-indentation) ?\s))`$0
#+end_definition